/* Style Sheet for Making A Case Talk */


@font-face {
    font-family: 'GothicHighway';
    src:  url('../fonts/HWYGOTH.ttf') format('truetype');
    
}

@font-face {
font-family: 'GothicHighwaywide';
    src:  url('../fonts/HWYGWDE.ttf') format('truetype');
}

body > div.reveal.focused.has-horizontal-slides.has-dark-background.ready.fade > div.slides{
  font-family: 'GothicHighway', sans-serif;
  color: #ffffff;
}


.false{
  border: 0px solid #000000;
}

/* Title paragraph specs */
#title-slide  {
    visibility: hidden;
}


body {
  font-family: 'GothicHighway', sans-serif;
}

blockquote > p:nth-child(n) > a {
  color: #048781;
}



li:nth-child(n) > a {
  color: #048781;
}

.section-header h2 {
  visibility: hidden;
}

.content-header h2 {
  color: #ffffff;
  font-size: 85px;
  line-height: 200px;
  position: relative;
  margin-top: 0%;
  margin-left: -15%;
  font-family: 'GothicHighwaywide';
}

.content{
  margin-top: 3%;
  margin-left: -25%;
  position: relative;
  font-size: 60px;
  color: #000000;
}


 p:nth-child(n){
  margin-top: 3%;
  margin-left: 15%;
  position: relative;
  font-size: 60px;
  color: #000000;
}

.column{
  font-size: 60px;
  color: #000000;
}


.reveal blockquote{
    margin-top: 3%;
  margin-left: -10%;
  position: relative;
  font-size: 60px;
  color: #000000;
}

li:nth-child(n) {
  margin-left: 150px;
}
/*
li {
    font-size: 1.2em;
}

#section > center > div > figure > figcaption {
    font-size: 1.2em;
}

#section-1 > center > div > figure > figcaption {
    font-size: 1.2em;
}

#section-2 > center > div > figure > figcaption {
    font-size: 1.2em;
}


.reveal .progress span {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000000;
    transition: transform .8s cubic-bezier(.26,.86,.60,.985);
    transform-origin: 0 0;
    transform: scaleX(0);
}

.purple h2{
  background-color: #280b20;
  font-size: 80px;
  display: inline-block;
  padding: 5px;
  border-radius: 25px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 3px;
  border-color: #1a1a1a;
}

.mutedblue h2{
  background-color: #0c0f27;
  font-size: 80px;
  display: inline-block;
  padding: 5px;
  border-radius: 25px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 3px;
  border-color: #1a1a1a;
} 


.turq h2{
  background-color: #06212d;
  font-size: 80px;
  display: inline-block;
  padding: 5px;
  border-radius: 25px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 3px;
  border-color: #1a1a1a;
} 

.green h2{
  background-color: #1a260d;
  font-size: 80px;
  display: inline-block;
  padding: 5px;
  border-radius: 25px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 3px;
  border-color: #1a1a1a;
} 

.yellow h2{
  background-color: #f0cf8f;
  font-size: 72px;
  display: inline-block;
  margin-left: -80px;
  padding: 8px;
  border-radius: 25px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 3px;
  border-color: #1a1a1a;
} 

.black h2{
  background-color: #000000;
  font-size: 72px;
  display: inline-block;
  margin-left: -200px;
  padding: 8px;
  border-radius: 25px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 1px;
  border-color: #1a1a1a;
}

.orange h2{
  background-color: #d9ad8c;
  font-size: 72px;
  display: inline-block;
  margin-left: -80px;
  padding: 8px;
  border-radius: 25px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 3px;
  border-color: #1a1a1a;
} 


#bullet > ul > li > h4 > span {
      background-color: rgba(0,0,0,.8);
      border-radius: 25px 15px 225px 15px/15px 225px 15px 255px;
      margin-top: 30px;
      padding: 5px;
      line-height: 170%;
}


.reveal blockquote{
  color: #ffffff;
  background-color: #280b20;
  padding: 20px;
  margin: 0;
  position: relative;
  color: #ffffff;
  font-size: 50px;
}


#bluequote > blockquote{
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(30%);
  color: #ffffff;
  background-color: #0c0f27;
  padding: 20px;
  font-size: 50px;
}

#turqquote > blockquote{
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(30%);
  color: #ffffff;
  background-color: #06212d;
  padding: 20px;
  font-size: 50px;
}

#greenquote > blockquote{
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(30%);
  color: #ffffff;
  background-color: #202618;
  padding: 20px;
  font-size: 50px;
}

#orangequote > blockquote{
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(30%);
  color: #000000;
  background-color: #d9ad8c;
  padding: 20px;
  font-size: 50px;
}

.reveal pre.sourceCode code {
   height: 500px; 
  max-height: 100%;
}

#what-is-generative-art > p:nth-child(3) {
  font-size: 50px;
}

#what-is-data-science > p:nth-child(3){
  font-size: 50px;
}

#how-can-we-make-generative-art-in-r-or-python-1 > div > div:nth-child(1) > center > img{
  display: inline-block;
  margin-bottom: -10px;
  border: 0px solid #000000;
}

#how-can-we-make-generative-art-in-r-or-python-1 > div > div:nth-child(2) > center > img{
  display: inline-block;
  margin-bottom: -10px;
  border: 0px solid #000000;
}

#examples-of-how-generative-art-translates-into-data-science---iteration > div > div:nth-child(2){
  border-left: 6px solid #1a1a1a;
  height: 75%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  padding-left: 30px;
}

#examples-of-how-generative-art-translates-into-data-science---iteration-1 > div > div:nth-child(2){
  border-left: 6px solid #1a1a1a;
  height: 50%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  padding-left: 30px;
}

#examples-of-how-generative-art-translates-into-data-science---iteration-2 > div > div:nth-child(2){
  border-left: 6px solid #1a1a1a;
  height: 75%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  padding-left: 30px;
}

#examples-of-how-generative-art-translates-into-data-science---development > div > div:nth-child(2){
  border-left: 6px solid #1a1a1a;
  height: 75%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  padding-left: 30px;
}

#examples-of-how-generative-art-translates-into-data-science---development-1 > div > div:nth-child(2){
  border-left: 6px solid #1a1a1a;
  height: 75%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  padding-left: 30px;
}

#examples-of-how-generative-art-translates-into-data-science---development-2 > div > div:nth-child(2){
  border-left: 6px solid #1a1a1a;
  height: 75%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  padding-left: 30px;
}

#examples-of-how-generative-art-translates-into-data-science---communication > div > div:nth-child(2){
  border-left: 6px solid #1a1a1a;
  height: 75%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  padding-left: 30px;
}

#examples-of-how-generative-art-translates-into-data-science---communication-1 > div > div:nth-child(2){
  border-left: 6px solid #1a1a1a;
  height: 25%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  padding-left: 30px;
}

#examples-of-how-generative-art-translates-into-data-science---communication-2 > div > div:nth-child(2){
  border-left: 6px solid #1a1a1a;
  height: 75%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  padding-left: 30px;
}



#cb1 {
  font-size: 50px;
}

#cb1 > pre > code {
  overflow-x:hidden;
}

#cb2 {
  font-size: 50px;
}

#cb2 > pre > code {
  overflow-x:hidden;
}

#cb3 {
  font-size: 50px;
}

#cb3 > pre > code {
  overflow-x:hidden;
}

#cb4 {
  font-size: 50px;
}

#cb4 > pre > code {
  overflow-x:hidden;
}

#cb5 {
  font-size: 50px;
}

#cb5 > pre > code {
  overflow-x:hidden;
}

#cb6 {
  font-size: 50px;
}

#cb6 > pre > code {
  overflow-x:hidden;
}

#cb7 {
  font-size: 50px;
}

#cb7 > pre > code {
  overflow-x:hidden;
}

#cb8 {
  font-size: 50px;
}

#cb8 > pre > code {
  overflow-x:hidden;
}

#cb9 {
  font-size: 50px;
}

#cb9 > pre > code {
  overflow-x:hidden;
}


#cb10 {
  font-size: 50px;
}

#cb10 > pre > code {
  overflow-x:hidden;
}

#cb11 {
  font-size: 50px;
}

#cb11 > pre > code {
  overflow-x:hidden;
}

#cb12 {
  font-size: 50px;
}

#cb12 > pre > code {
  overflow-x:hidden;
}

#cb13 {
  font-size: 50px;
}

#cb13 > pre > code {
  overflow-x:hidden;
}

*/