/* Style Sheet for Making A Case Talk */


@font-face {
    font-family: 'GothicHighway';
    src:  url('../fonts/HWYGOTH.ttf') format('truetype');
    
}

@font-face {
font-family: 'GothicHighwaywide';
    src:  url('../fonts/HWYGWDE.ttf') format('truetype');
}

body > div.reveal.focused.has-horizontal-slides.has-dark-background.ready.fade > div.slides{
  font-family: 'GothicHighway', sans-serif;
  color: #ffffff;
}


.false{
  border: 0px solid #000000;
}

/* Title paragraph specs */
#title-slide  {
    visibility: hidden;
}



body {
  font-family: 'GothicHighway', sans-serif;
}

blockquote > p:nth-child(n) > a {
  color: #048781;
}



li:nth-child(n) > a {
  color: #048781;
}

.section-header h2 {
  visibility: hidden;
}

.content-header h2 {
  color: #ffffff;
  font-size: 85px;
  line-height: 200px;
  position: relative;
  margin-top: 0%;
  margin-left: -15%;
  font-family: 'GothicHighwaywide';
}

.content{
  margin-top: 3%;
  margin-left: -25%;
  position: relative;
  font-size: 60px;
  color: #000000;
}


 p:nth-child(n){
  margin-top: 3%;
  margin-left: 15%;
  position: relative;
  font-size: 60px;
  color: #000000;
}

.column{
  font-size: 60px;
  color: #000000;
}


.reveal blockquote{
    margin-top: 3%;
  margin-left: -10%;
  position: relative;
  font-size: 60px;
  color: #000000;
}

li:nth-child(n) {
  margin-left: 150px;
}


.reveal code {
  font-size: 2.7em !important;
}

#cb1 {
  margin-top: 0%;
}

#simple-merge-conflict-example-6 > div > p:nth-child(1) > img{
  margin-left: -10%;
  float: left;
  padding-right: 2%;
  width: 50%;
}

#simple-merge-conflict-example-6 > div > p:nth-child(2) > img{
  width: 50%;
  padding-left: 2%;
}

#simple-merge-conflict-example-6 > div{
  margin-left: -25%;
  width: 150%;
}

#simple-merge-conflict-example-7 > div > p:nth-child(1) > img{
  margin-left: -10%;
  float: left;
  padding-right: 2%;
  width: 50%;
}

#simple-merge-conflict-example-7 > div > p:nth-child(2) > img{
  width: 50%;
  padding-left: 2%;
}

#simple-merge-conflict-example-7 > div{
  margin-left: -25%;
  width: 150%;
}

#simple-merge-conflict-example-8 > div > p:nth-child(1) > img{
  margin-left: -10%;
  float: left;
  padding-right: 2%;
  width: 50%;
}

#simple-merge-conflict-example-8 > div > p:nth-child(2) > img{
  width: 50%;
  padding-left: 2%;
}

#simple-merge-conflict-example-8 > div{
  margin-left: -25%;
  width: 150%;
}


.reveal .progress span {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #048781;
    transition: transform .8s cubic-bezier(.26,.86,.60,.985);
    transform-origin: 0 0;
    transform: scaleX(0);
}

#cb6 {
  font-size: .2em !important;
  width: 50%;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
}